* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.files-upload {
  max-width: 600px;
  margin: 0 auto;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #000;
  margin: 0 20px;
  color: brown !important;
  text-transform: uppercase;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.carousel-item {
  opacity: 0;
  transition: opacity 1s !important;
}
.carousel-item.active {
  opacity: 1;
  transition: opacity 1s !important;
}
